@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 10px;
}

body {
    background: #ffffff;
}

#container {

    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

#container > header {
    background: #ffffff;
    justify-content: center;
    padding: 2rem;
}

main {
    background: #ffffff;
    font-size: 20px;
    padding: 1rem;
}

footer {
    background: #ff4c00;
    color: #ffffff;
    padding: 12px;
    font-size: 10px;
    height: 4rem;
}

/* NAV */
nav {
    background: #ff4d00;
    font-size: 12px;  
}

nav ul {
    list-style-type: none;
}

nav ul li {

    color: #ffffff;
    border-right: 0.5px solid #ffffff;
    display:inline-block
}

nav ul li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 25px;
}

/* MAIN */
main > header {
    color: #ff4c00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 800;
}   

.produto { margin-bottom: 20px;margin-top: 10px; }
.produto img {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    padding-right: 20px;
    justify-content: center;
}
.produto p {
   /* background-color: #ff4c00;*/
    color: rgb(44, 40, 40);
    height:50px;
    width: 170px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    display:inline-table
    text-align: center;
    
    
}

.preco p {
     color: rgb(44, 40, 40);
     height:20px;
     width: 180px;
     padding-bottom: 35px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 16px;
     display:inline-table
     text-align: center;
     
     
 }
.botao p {
    background-color: #ff4c00;
    color: whitesmoke;
    height:40px;
    width: 180px;
    padding: 8px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display:flex
    justify-content: center;
    text-align: center;
    
    
    
}

.botao p:hover {
    background-color: #2b2c2e;
    color: whitesmoke;
}

li:hover {
    background-color: #2b2c2e;
    color: whitesmoke;
}

#produtos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content:center
}
